layout {
  default_tab_template {
    pane size=1 borderless=true {
      // plugin location="file:target/wasm32-wasi/debug/zjstatus.wasm" {
      plugin location="file:~/.config/zellij/plugins/zjstatus/zjstatus_v0.21.1.wasm" {
        format_left  "{mode} #[fg=#89B4FA,bold]{session} {tabs}"
        format_right "{command_git_branch} {command_meeting} {datetime}"
        format_space ""

        hide_frame_for_single_pane "true"

        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=#6C7086]{char}"
        border_position "top"

        mode_normal        "#[bg=#89B4FA,fg=#000000] "
        mode_locked        "#[bg=#f38ba8,fg=#000000] "
        mode_pane          "#[bg=#a6e3a1,fg=#000000] PANE "
        mode_rename_pane   "#[bg=#fab387,fg=#000000] RENAME PANE "
        mode_tab           "#[bg=#a6e3a1,fg=#000000] TAB "
        mode_rename_tab    "#[bg=#fab387,fg=#000000] RENAME TAB "
        mode_resize        "#[bg=#a6e3a1,fg=#000000] RESIZE "
        mode_scroll        "#[bg=#a6e3a1,fg=#000000] SCROLL "
        mode_enter_search  "#[bg=#a6e3a1,fg=#000000] ENTER-SEARCH "
        mode_search        "#[bg=#fab387,fg=#000000] SEARCH "
        mode_session       "#[bg=#cdd6f4,fg=#000000] SESSION "
        mode_move          "#[bg=#fab387,fg=#000000] MOVE "
        mode_prompt        "#[bg=#fab387,fg=#000000] PROMPT "
        mode_tmux          "#[bg=#ffc387,fg=#000000] TMUX "

        tab_normal   "#[fg=#6C7086] {name} "
        tab_active   "#[fg=#9399B2,bold,italic] {name} "

        command_meeting_command "bash -c '~/.config/zellij/scripts/cal.sh'"
        command_meeting_format "#[fg=#b4befe, bg=black] {stdout}"
        command_meeting_interval "60" // Update every 60 seconds
        command_meeting_rendermode "static"

        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=blue] {stdout} "
        command_git_branch_interval    "60"
        command_git_branch_rendermode  "static"

        datetime        "#[fg=#6C7086,bold] {format} "
        datetime_format "%A, %d %b %Y %H:%M"
        datetime_timezone "US/Eastern"
      }
    }
    children
  }
}
