"/home/kevin/.config/zellij/plugins/zjsessions.wasm" {
    ReadApplicationState
    ChangeApplicationState
}
"/home/kevin/.config/zellij/plugins/zjstatus/zjstatus_v0.21.1.wasm" {
    ReadApplicationState
    ChangeApplicationState
    RunCommands
}
"/home/kevin/.config/zellij/plugins/zjstatus/zjframes_v0.21.1.wasm" {
    ReadApplicationState
    ChangeApplicationState
}
