"{{ .chezmoi.homeDir }}/projects/zellij-plugins/zjsessions/target/wasm32-wasip1/debug/zjsessions.wasm" {
    ReadApplicationState
    ChangeApplicationState
    InterceptInput
}
"{{ .chezmoi.homeDir }}/.config/zellij/plugins/zjstatus/zjstatus_v0.21.1.wasm" {
    ReadApplicationState
    ChangeApplicationState
    RunCommands
}
"{{ .chezmoi.homeDir }}/.config/zellij/plugins/zjstatus/zjframes_v0.21.1.wasm" {
    ReadApplicationState
    ChangeApplicationState
}
