layout {

    focus-ring {
        active-color   "#ffafd4"
        inactive-color "#000000"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffafd4"
        inactive-color "#000000"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffafd4"
        inactive-color "#db79aa"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffafd480"
    }
}

recent-windows {
    highlight {
        active-color "#ffafd4"
        urgent-color "#ffb4ab"
    }
}
